.nav {
  display: flex; /* strech display from 1 end to another end*/
	}

.nav a {
		padding: 10px 13.5px;	/* inside attribute "a" frame will have space 10up 20left/right and writing will be centerzied*/
		text-decoration: none;	
		text-align: center;
	}

.nav a:hover {		
		background-color: orange; /* those colors will appear, once you put mouse on A attribute */
		color: white;
			} 




.title { color: black; font-size: 50px; font-family: 'Niconne', cursive;
					position: absolute;
					left: 350px;
					top: 50px;
					font-family: 'Asset'; /*extra design from google's fonts*/
					width:700px;
					}	
					
.title2 {	color: Red; font-size: 20px;font-family: 'Niconne', cursive;
						position: absolute;
						left: 350px;
						top: 210px;
						font-family: 'Asset';
						width:700px;
					}



.story {width: 800px;
		position: absolute;
		left: 350px;
		top: 270px;
		font-size: 26px;
		color: yellow;
		
		
}



 
 .vertical-menu {
				width: 200px;
				}


